@font-face {
  font-family: "playball";
  src: url("./fonts/Playball-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("./fonts/Montserrat-Light.ttf") format("truetype");
}
