@tailwind base;
@tailwind components;
@tailwind utilities;

.font-playball {
  font-family: "Playball-Regular";
}

.font-apollo {
  font-family: "Trebuchet MS";
}

.font-hip {
  font-family: "Franklin Gothic Medium";
}

/* ', 'Arial Narrow', Arial, sans-serif */
/* , 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif */
